#fq {font-size: 100px;}

html, body {
    margin-top:-20px;

}
button { background-color: blue;
    color: white;
    border-radius: 10px;
   font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
     font-size: 15px;
    margin-left: 350px;
    padding: 7px;
}

.lout { background-color: blue;
    text-align: left;
}


input[type=submit] {background-color: #4169E1;
     /*font-family: "Arial Narrow", Arial, sans-serif;*/
     font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
     font-size: 15px;
     border-style: outset;
border-color: #DCDCDC;
color: white;}

fieldset { background-color:   #FFFAFA;
 border-radius: 10px;
}


.profile { border-style: outset; border-width: 2px; border-radius: 5px; border-color: black; color: white; background-color: grey;}


.yourqslink {border-style: outset; border-width: 2px; border-radius: 5px; border-color: black; color: white; background-color: grey;}

.alinks {background-color: #4169E1;
     font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
     font-size: 15px;
    border-style: outset;
border-color: #DCDCDC;
 text-decoration: none;
 color: white;
 border-radius: 7px;

}


fpos {position: fixed;
 overflow: hidden;
}


.signup {color: black;}

.signup a {background-color: #4169E1;
     font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
     font-size: 15px;
    border-style: outset;
border-color: #DCDCDC;
 text-decoration: none;
 color: white;
                             }
                             
#testout
{
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
    margin-right: 50%;
}

#myans
{
    border-style: solid;
    border-width: thin;
    border-color: black;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

.askbar
{
    border-style: none;
    padding-left: 25px;
     padding-right: 25px;
      padding-bottom: 25px;
       padding-top: 30px;
    background-color: #1E90FF;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 7px;
   
}

.askquestions
{
    border-style: solid;
    border-color: black;
    border-width: thin;
    padding: 10px;
    border-radius: 7px;
    margin-left: 100px;
    margin-right: 100px;
   
}

#askquestionsheader
{
    border-style: solid;
    border-color: black;
    border-width: thin;
    padding: 10px;
    border-radius: 7px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #1E90FF;
    color: white;
    
}

#yourqspage
{
     border-style: solid;
    border-color: black;
    border-width: thin;
    padding: 10px;
    border-radius: 7px;
    margin-left: 100px;
    margin-right: 100px;
}

#totalqsstyle
{
    border-style: solid; border-color: black; border-width: thin; padding: 10px; border-radius: 7px; margin-left: 100px; margin-right: 100px;
}

#totalqsh4
{
    border-style: solid;
    border-color: black;
    border-width: thin;
    padding: 20px;
    border-radius: 7px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #1E90FF;
    color: white;
}
